extends layout
block gameSpecific
	script(src='/js/classes/game.js')
	script(src='/js/lobby.js')

	each jsFile in gameResources['js']
		script(src='#{jsFile}')
	each cssFile in gameResources['css']
		link(rel='stylesheet', href='#{cssFile}')

block content
	#game-window(style="width:100%;height:100%;position:fixed;")
		#game-content
			#gameTitle.title #{title}
			#error(style="display:none")
				#error-box
					#error-msg
			#loginContainer
				.instructions Enter your name
				input#playerName.name-input(style="display:none")
			#readyButton(style="display:none") Start Game
			#gameBoard
			#players.floating-info(style="display:none")
				u Current Players
				ul#playerList
					each user in userlist
						li #{userlist[user]}