extends header
block globalVariables
  script 
    var uniqueKey = "#{uniqueKey}";
    var username = "#{username}";
    var gameName = "#{title}";
    var errorMsg = !{messages};

body
  block content