* {
	/*Removes gray highlight box on touch events*/
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
}

svg {
	padding:40px;
	padding-bottom:0;
}

#controls input[type="button"], #startgame_button, #cancelAction_button, #endTurn_button {
	font-size: 3em;
	background-color: gray;
	margin-left:10px; margin-right:20px;
}

#endTurn_button {
	position: absolute;
	top: 0;
	left: 0;
}

.tile {
	fill: white !important;
	stroke-width: 5;
	stroke: #444444;
}

.vertex {
	stroke:black;
	stroke-width:2;
	fill:white !important;
}

circle.unassigned:hover {
	fill:gray !important;
	cursor:pointer;
}

.edge {
	stroke:rgb(220,220,220);
	stroke-width:10;
}

line.unassigned:hover {
	stroke:gray !important;
	cursor:pointer;
}

#h0, #h4, #h9, #h19, #h20, #h24 {
	display:none;
}

.unassigned {
	display:none;
}

circle.player1 {
	fill:red !important;
}
circle.player1:hover {
	fill:red !important;
}
line.player1 {
	stroke:red !important;
}
line.player1:hover {
	stroke:red !important;
}

.player1 {
	color:red !important;
}

circle.player2 {
	fill:blue !important;
}
circle.player2:hover {
	fill:blue !important;
}
line.player2 {
	stroke:blue !important;
}
line.player2:hover {
	stroke:blue !important;
}

.player2 {
	color:blue !important;
}

circle.player3 {
	fill:green !important;
}
circle.player3:hover {
	fill:green !important;
}
line.player3 {
	stroke:green !important;
}
line.player3:hover {
	stroke:green !important;
}

.player3 {
	color:green !important;
}

circle.player4 {
	fill:darkgray !important;
}
circle.player4:hover {
	fill:darkgray !important;
}
line.player4 {
	stroke:darkgray !important;
}
line.player4:hover {
	stroke:darkgray !important;
}
.player4 {
	color:darkgray !important;
}

text {
	font-size:22pt;
	font-weight:bold;
	text-shadow: 0px 0px 5px black, -2px -2px 5px black;
}

#controls {
	position:absolute;
	bottom: 10px;
	height:70px;
	left:0;
	width:100%;
}

#actions {
	z-index: 30;
}

#dice {
	background-color: white;
	height: 80px;
	width: 80px;
	margin: -40px;
	top: 50%;
	left: 50%;
	position: fixed;
	z-index: 10;
	line-height:80px;
	border-radius: 5px;
	border: 2px solid black;
	text-transform: uppercase;
	font-family: Helvetica;
	font-size: 1.5em;
	cursor: pointer;
	box-shadow: 0px 10px 5px #888 inset, 0px -2px 5px #000 inset;
	-webkit-box-shadow: 0px 10px 5px #888 inset, 0px -2px 5px #000 inset;
	z-index: 20;
}

#dice:disabled {
	opacity: 1;
}
/* deck types: 1 = resource, 2 = dev cards */
/*
var CardType = {
	 KNIGHT: 1
	,VICTORY_POINT: 2
	,MONOPOLY: 3
	,ROAD_BUILDING: 4
	,YEAR_OF_PLENTY: 5
};
var ResourceType = {
	 SHEEP: 1
	,WOOD: 2
	,BRICK: 3
	,WHEAT: 4
	,ORE: 5
};*/
.hand {
	margin: 0 auto;
	top: 50%;
	left: 50%;
	height: 150px;
	min-width: 50px;
	width: auto;
	background-color: rgba(252, 252, 252, 0.5);
	padding: 10px 20px;
	border: 1px solid black;
	position: absolute;
	margin-top: -75px;
	padding-left: 70px;
}

.card {
	width: 70px;
	height: 100px;
	top: 50%;
	margin-top: -50px;
	margin-left: -50px;
	border-radius: 5px;
	background-color: white;
	border: 1px solid black;
	box-shadow: -5px 5px 10px black;
	display: inline-block;
	position: relative;
	background-size: 100% 100% !important;
}

.card-1-1 {
	background: url('/images/games/Catan/sheep.jpg');
}

.card-1-2 {
	background: url('/images/games/Catan/wood.jpg');
}

.card-1-3 {
	background: url('/images/games/Catan/brick.jpg');
}

.card-1-4 {
	background: url('/images/games/Catan/grain.jpg');
}

.card-1-5 {
	background: url('/images/games/Catan/ore.jpg');
}

.card-2-1 {
	background: url('/images/games/Catan/knight.jpg');
}

.card-2-2 {
	background: url('/images/games/Catan/victorypoint_1.jpg');
}/*
.card-2-2-2 {
	background: url('/images/games/Catan/victorypoint_2.jpg');
}
.card-2-2-3 {
	background: url('/images/games/Catan/victorypoint_3.jpg');
}
.card-2-2-4 {
	background: url('/images/games/Catan/victorypoint_4.jpg');
}
.card-2-2-5 {
	background: url('/images/games/Catan/victorypoint_5.jpg');
}*/

.card-2-3 {
	background: url('/images/games/Catan/monopoly.jpg');
}

.card-2-4 {
	background: url('/images/games/Catan/roadbuilding.jpg');
}

.card-2-5 {
	background: url('/images/games/Catan/yearofplenty.jpg');s
}